html {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #A05A2C;
    color: white;
}

#titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

#titlebar h1 {
    font-size: 3.5rem;
    line-height: 192px;
    vertical-align: middle;
    text-align: center;
}

#titlebar img {
    width: 192px;
}

@media (max-width: 767px) {
    #titlebar .side {
        display: none;
    }
}

#navBar {
    margin-top: 1rem;
}

h2 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

h3 {
    margin: 2rem;
}

h4 {
    margin: 2rem;
}

li.lista {
    margin: 1.7rem;
    font-size: large;
    text-decoration: underline dashed darkgreen 0.5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: right;
    align-items: right;
}

.positioning_nav {
    margin-left: 1rem;
}

.positioning_img {
    width: 30rem;
}

.positioning_img2 {
    width: 20rem;
}

.positioning_img3 {
    width: 25rem;
}

.positioning_img4 {  /* Not another one :cry:*/
    width: 40rem;  
}

.design {
    color: #000000;
}

button:hover {
    color: #A05A2C;
    font-weight: bold;

}

p {
    margin: 2rem;
    font-size: 1.2rem;
    text-indent: 2rem;
}

p.indent {
    text-indent: 3rem;
}

hr.line {
    border-top: dashed darkgreen 10px;;
    opacity: 1;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

a.forras {
    text-decoration: underline;
    color: lightgreen;
    font-size: 1.3rem;
    
}

a.forras:hover {
    font-weight: bold;
}

li.forras {
    margin: 0.7rem;
}